/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.imgScreenshotContainer {
  display:flex;
  margin:20pt;
  justify-content: center;
  align-items: center;
  gap:20pt;
}

.imgScreenshotContainer img {
  margin: 0;
  padding: 0;
  display: block;
}

.imgScreenshotL {
  width:400pt;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.3);
}

.imgScreenshotP {
  width:104pt;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.3);
}

.downloadBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color:#0b5394;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
